@import "tailwindcss";
@plugin "daisyui";
@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));

code > span.line {
  color: #e2e8f0; /* slate-200 */
}

/* Ripple Effect */
span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(0, 0, 0, 0.3); /* Dark ripple for light mode */
  pointer-events: none;
}

:global(.dark) span.ripple {
  background-color: rgba(255, 255, 255, 0.3); /* Light ripple for dark mode */
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.markcyan {
   background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #3cbefc 65%);      
   display: inline;
}

.markred {
   background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #FF0000 65%);      
   display: inline;
}

.markorange {
   background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #FF5533 65%);      
   display: inline;
}

.markyellow {
   background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #FFFF00 65%);      
   display: inline;
}

.markgreen {
   background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #00D100 65%);      
   display: inline;
}

.markblue {
   background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #0000FF 65%);      
   display: inline;
}

.markpurple {
   background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #FF00FF 65%);      
   display: inline;
}